<div ng-cloak>
  <div ng-if="layout != 'vertical'" class="d-flex flex-wrap justify-content-around lo-participation-types lo-participation-types--horizontal">
    <div class="lo-participation-type card" ng-repeat="type in participationTypes">
      <div class="card-body">
        <div class="h3" ng-bind="type.name"></div>
        <ul>
          <li ng-if="type.rawFee > 0">
            {{type.rawFee / 100 | currency:"$":0}} fee
          </li>
          <li ng-if="type.rawMinimumGoal > 0">
            {{type.rawMinimumGoal / 100 | currency:"$":0}} minimum goal
          </li>
          <li ng-if="type.description">
             <span ng-bind="type.description"></span>
          </li>
        </ul>
        <div class="text-center">
          <a ng-href="TRR?fr_id={{frId}}&s_ptype={{type.id}}&pg=tfind" class="btn btn-primary">
            Register
          </a>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="layout == 'vertical'" class="lo-participation-types lo-participation-types--vertical">
    <div class="lo-participation-type card" ng-class="{'active': participationOptions.participationTypeId == type.id && participationTypes.length > 1}" ng-repeat="type in participationTypes" ng-click="participationOptions.participationTypeId = type.id">
      <div class="d-flex justify-content-between card-body">
        <div>
          <strong ng-bind="type.name"></strong>
          <p>
            <small ng-bind="type.description"></small>
          </p>
          <button type="button" ng-if="participationTypes.length > 1" class="btn btn-outline-primary" ng-click="participationOptions.participationTypeId = type.id">
            Select
          </button>
        </div>
        <div class="h2">
          {{type.rawFee / 100 | currency:"$":0}}
        </div>
      </div>
    </div>
  </div>
</div>


