<div ng-cloak class="lo-progress-meter" ng-class="lo-progress-meters--{{type}}" >
  <div class="row">
    <div class="lo-progress-meter__meter col" ng-if="!meter.hideMeter">
      <div class="lo-progress-meter__meter--empty" ng-if="!meter.hideTherm">
        <div class="lo-progress-meter__meter--full" ng-style="{'width': meter.percent}"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="lo-progress-meter__data col-4" ng-if="meter.dollarsFormatted">
      <p class="h2" ng-bind-hmtl="meter.dollarsFormatted"></p>
      <div class="small">
        raised
      </div>
    </div>
    <div class="lo-progress-meter__data col-4" ng-if="meter.dollarsFormatted">
      <p class="h2" ng-bind-hmtl="meter.percent"></p>
      <div class="small">
        of goal
      </div>
    </div>
    <div class="lo-progress-meter__data col-4" ng-if="meter.dollarsFormatted">
      <p class="h2" ng-bind-hmtl="meter.goal"></p>
      <div class="small">
        goal
      </div>
    </div>
  </div>
</div>


