<div ng-cloak class="lo-progress-meter lo-progress-meter--{{type}}" ng-if="!meter.hideMeter">
  <div ng-if="meter">
    <div class="row">
      <div class="col">
        <div class="lo-progress-meter__meter progress">
          <div class="lo-progress-meter__meter--full progress-bar progress-bar-animated" ng-style="{'width': meter.percent}"></div>
        </div>
      </div>
    </div>
    <div class="row justify-content-between">
      <div class="col text-left" ng-if="meter.dollars">
        <p class="lo-progress-meter__data" ng-bind="meter.dollars"></p>
        <div class="small">
          raised
        </div>
      </div>
      <div class="col text-center" ng-if="meter.percent">
        <p class="lo-progress-meter__data" ng-bind="meter.percent"></p>
        <div class="small">
          of goal
        </div>
      </div>
      <div class="col text-right" ng-if="meter.goal">
        <p class="lo-progress-meter__data" ng-bind="meter.goal"></p>
        <div class="small">
          goal
        </div>
      </div>
    </div>
  </div>
  <div ng-if="!meter">
    <div class="alert alert-danger">
      Progress Meter is not available at this time.
    </div>
  </div>
</div>


