.lo-progress-meter__meter {
  height: 2.5rem;
  background: $light;
  margin-bottom: $spacer;
  border: 1px solid $gray-300;
  border-radius: 0;

  .lo-progress-meter__meter--full {
    background: $primary;
    border-color: transparent;
    margin: 0;
  }
}

.lo-progress-meter__data {
  font-weight: $font-weight-bold;
  font-size: $font-size-base;
  margin-bottom: 0;

  @include media-breakpoint-up(sm) {
    font-size: $h4-font-size;
  }

  @include media-breakpoint-up(md) {
    font-size: $h2-font-size;
  }
}